* {
    margin: 0px 5px 0px 5px;
}

li {
    padding-right: 5px;
}

Button {
    margin: 4px 3px 4px 3px
}

.quote-buttons {
    margin-left: 5px;
}
.quote-buttons Button {
    margin-top: 10px;
    margin-bottom: 10px;
}

Form {
    max-width: 20em;
}

.quotes {
    padding-top: 45px;
}

.card-edges {
    padding-top: 10px;
}
